# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Medium.iml
# Datasource local storage ignored files
/../../../../../../../:\Code\Unity Projects\Medium\.idea\.idea.Medium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
